.payment {
    display: flex;
    flex-flow: column;
    width: 1200px;
    margin: 0 auto;
}
.payment__table {
    width: 1155px;
}
.payment__user-head {
    display: flex;
    flex-flow: row;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
    /* border: 1px solid rgb(235, 235, 235); */
}

.payment__user-head__card {
    box-shadow: 0 0 1px 1px rgb(238, 238, 238);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

.payment__user-head__card h2 {
    color: rgb(43, 40, 35);
    border-bottom: 4px solid rgb(243, 182, 15);
    margin-bottom: 15px;
}

.payment__user-head__logo {
    width: 150px;
    height: 100%;
}

.payment__user-head__logo img {
    width: 50px;
}

.payment__user-head__logo p {
    color: rgb(41, 41, 41);
}

.payment__user-head__logo p span {
    background: rgb(255, 213, 28);
    padding: 5px;
    border-radius: 5px;
}

.payment__year {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
}

.payment__year-head {
    background: rgb(241, 241, 241);
    color: rgb(51, 51, 51);
    font-size: 1.1em;
}

.payment__year-actions {
    width: 120px !important;
}

.payment__table {
    display: flex;
    flex-flow: column;
}
.payment__table .payment__year .payment__year-month {
    font-weight: 700;
    width: 90px;
    border-right: 1px solid #e7e7e7;
    height: 100%;
    line-height: 2.5;
    box-sizing: border-box;
}

.payment__year-month-modal {
 border: none !important;
}

.payment__year-month-price {
    line-height: 5 !important;
}

.payment__year-body {
    height: 80px;
    border: 1px solid rgb(230, 230, 230);
}

.payment__action-btn {
    display: flex;
    flex-flow: column;
}

.converter {
    margin-top: 50px;
}
.converter__title {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.converter__title span:first-child {
    font-size: 1.2em;
    margin-top: -50px;
}
.converter__title span:last-child {
    background: rgb(255, 207, 48);
    width: max-content;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
.converter__title-price {
    font-size: 1.3em;
}
.converter__action {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.converter button {
    margin: 5px;
}
.converter__total {
    font-size: 1.2em;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: left;
    margin-top: 10px;
}

.converter__total div {
    width: 250px;
    display: flex;
    flex-flow: row;
}

.converter__total b {
    margin-left: 5px;
}

.payment__choose-year {
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    width: 200px;
}

.payment__choose-year span {
    margin-top: 17px;
    margin-right: 10px;
    font-size: 1.1em;
}

.payment__year-actions {
    width: 150px;
}

.payment__checkout {
    margin-top: 20px;
}

.checkout {
    margin-top: 15px;
}

.checkout button {
    margin: 5px;
}

.active__month {
    background: linear-gradient(45deg, rgb(255, 195, 82), rgb(255, 209, 4));
    height: 100%;
    line-height: 3.1;
}

.edit-payment-inputs {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.actions {
    margin-top: 15px;
}